.listmain {
  margin-left: 20px;
  margin-right: 20px;
  height: 45vh;
  display: grid;
  grid-template-rows: 1fr 9fr;
  border-bottom: 2px solid rgba(0, 0, 0, 0.288);
}

.filters {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 0.5fr 0.2fr;
  background-color: rgba(153, 153, 153, 0.096);
  border-bottom: rgba(0, 0, 0, 0.267) 1px solid;
  border-top: rgba(0, 0, 0, 0.267) 1px solid;
}

.filterTitle {
  text-align: left;
  margin: 0;
}

.scrolllist {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
}
