.attackmain {
  /* width: 90vw; */
  margin-left: 170px;
  margin-top: 0px;
}

.listmain2 {
  margin-left: 20px;
  height: 35vh;
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
}

.filters2 {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  background-color: rgba(153, 153, 153, 0.096);
  border-bottom: rgba(0, 0, 0, 0.267) 1px solid;
  border-top: rgba(0, 0, 0, 0.267) 1px solid;
}
